/*The middle container with the picture*/
.container {
    width: 50%;
    margin-top: 50px;
}

/*Field for profile picture*/
.location_pf {
    display: flex;
    flex-direction: row;
}

/*Field for profile name next to profile picture*/
.location_pf > .profilename {
    margin-left: 3px;
}

/*Style for text in field for profile name*/
.location_pf > .profilename > div {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

/*Layout of the profilepicture of the uploader*/
.profilepicture {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    padding: 5px;
}

/*Layout of the box containing the pf, datestamp and follow button*/
.flex-container {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

/*General style for div in top bar of photo*/
.flex-container > div {
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

/*Layout of the container containing the profile picture*/
.flex-container > div:nth-child(1) {
    line-height: 75px;
    margin-right: 20px;

}

/*Layout of the container for the title*/
.flex-container > div:nth-child(2) {
    flex: 1 1 100%;
    line-height: 100%;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}

/*Design of the title*/
.flex-container > div:nth-child(2) > p {
    padding: 1%;
    font-size: 30px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold
}

/*Layout of the container with the datestamp and follow button*/
.flex-container > div:nth-child(3) {
    margin-right: 20px;
    flex: 1 1 30%;
    flex-direction: column;
}

/*Layout for the container with the datestamp*/
.flex-container > div:nth-child(3) > div:nth-child(1) {
    font-size: 12px;
    margin-top: 20%;
}

/*Layout follow button*/
.flex-container > div:nth-child(3) > div:nth-child(2) > .btn {
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
    width: 90px;
    height: 40px;
}

/*Style for follow button*/
.btn, volgknop {
    background-color: #28a745;
    outline: none;
    color: white;
}

/*Layout caption and amount of likes*/
.flex-container2 {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}

/*General style for divs in bottom flex container*/
.flex-container2 > div {
    margin: 5px;
    text-align: center;
    font-size: 30px;

}

/*Layout caption*/
.flex-container2 > div:nth-child(1) {
    flex: 1 1 100%;
    font-size: 100%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
}

/*Layout for the amount of likes and the word "likes"*/
.flex-container2 > div:nth-child(2) {
    max-height: 80px;
    width: 140px;
    flex-direction: column;
    font-size: 12px;
    background-color: #bdd484;
    border-radius: 10px;
}

/*Layout for the amount of likes*/
.flex-container2 > div:nth-child(2) > div:nth-child(1) {
    height: 60%;
}

/*Layout for the amount of likes*/
.flex-container2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold
}

/*Layout for the word 'likes'*/
.flex-container2 > div:nth-child(2) > div:nth-child(2) {
    height: 40%;
    flex: 1 1 100%;
    font-size: 20px;
    background-color: lightgrey;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Layout main picture field*/
.main-image {
    width: 100%;
}

/*Style for image in main picture field*/
.main-image > img {
    width: 100%;
    height: 100%;
}

/*Layout for the comment field*/
.comments {
    width: 100%;
    overflow: auto;
    padding-top: 10px;
    border: 5px #f1f1f1;
    margin: 0;
}

/*Layout for one complete comment*/
.flex-comment {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
}

/*General style for divs in comment field*/
.flex-comment > div {
    margin: 5px;
    text-align: left;
    font-size: 14px;
}

/*Layout for profile picture by the commenter*/
.comment_pf {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 5px;
}

/*Layout username*/
.flex-comment > div:nth-child(2) > div:nth-child(1) {
     font-weight: bold;
}

/*Layout for the comment*/
.flex-comment > div:nth-child(2) > div:nth-child(2) {
    padding-right: 10px;
}

/*Layout for commentfield*/
.flex-commentfield {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
}

/*General style for divs inside of comment field*/
.flex-commentfield > div {
    width: 100%;
    padding: 10px;
}

/*Layout for the space you can type the comment in*/
.flex-commentfield > div > form > textarea {
    border: 2px;
    border-radius: 4px;
    width: 100%;
    height: 80px;
}

/*Layout submit button*/
.flex-commentfield > div > form > button {
    background-color: #28a745;
    color: white;
}