.instapet-titel
{
    font-family: Lucida Handwriting;
    text-align: center;
    font-size: 50px;
}

.register-heading{
	 text-decoration: bold;
	 text-align: center;
	 font-size: 35px;
}

.login-heading{
    text-decoration: bold;
	 text-align: center;
    font-size: 20px;
}

.container
{
    margin: 30px;
    padding: 20px;
    background-color: #eff1f4;
    width: 370px !important;


}

.form-label-group{
    padding: 2%;

}

.login-header{
    height: 1%;
}


.carousel{
    background: #c4cad3;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px;
}
.carousel .item img{
    margin: 0 auto;
}
.bs-example{
	margin: 20px;
	margin-left: 140px;
	width: 70%;
    Height: 70%;
}
