/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  width:250px;
  z-index: 1; /* Stay on top */
  margin-top: 56px; /* Stay at the top */
  margin-left: 0;
  background-color: #2a2b2d; /*gray*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #5d5f60; /*tekskleur is standaard donkergrijs*/
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.sidenav .logoutknop{
    font-size: 20px;
    color:white;
}

.instapet-titel
{
    font-family: Lucida Handwriting;
    text-align: center;
    text-decoration:bold;
    color:white;
    font-size: 38px;
    margin-top:20px;
    margin-left:10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 200px;
}

li{
    list-style-type: none;
}

.topnav {
  display:flex;
  position: fixed;
  background-color:#404144;
  overflow: hidden;
  width:100%;
}


.topnav > div{
    width:100%;
}
.topnav > div > button{
    margin-left:12px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 20px;
    color: white;
    background-color: #b1b8bf;
    float:left;
}

.topnav > div > div{
    float: right;

}


.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  /*border: none;*/
}

.topnav .search-container button {
  float: right;
  padding: 8px 10px;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*kleur knop index: background-color: #337ab7;*/
/*        border-color: #2e6da4;*/

/*kleur navbar: background-color: #b1b8bf*/
/*        border-color: #2e6da4;*/
