/* Standard width for page */
.container{
    width:100%;
}

/*Style for query container*/
.flex_zoek{
    display:flex;
    background-color:lightgray;
    height:10%;
    flex-direction: column;
    padding:15px;
}

/* Style for inside query container */
.flex_zoek > .zoekterm{
    font-size: 150%;
    margin-left:5%;
}

/* Style for amount of search results*/
.flex_zoek > .aantal_resultaten{
    font-size: 110%;
    margin-left:5%;
    margin-top: auto
}


/* Style for profiles */
.flex_profielen{
    padding:15px;
    display:flex;
    height:25%;
    flex-direction:column;
    /*nodig voor de streep*/
    display: block;
    border-top: 3px solid #000;
    border-bottom:3px solid #000;
    padding-bottom:2%;

}

/* Style for word: 'user' */
.flex_profielen > div:nth-child(1){
    margin-left:5%;
    margin-top:1%;
    font-size: 150%;
}

/* The field where the users are shown */
.flex_profielen > div:nth-child(2){
    display:flex;
    margin-left:5%;
    margin-top:1%;
    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/
    overflow: auto;
    margin-right:5%;

}


/* field for one user */
.flex_profielen > div:nth-child(2) >div{
    height:70%;
    display:flex;
    flex-direction:row;
    margin-right:3%;
    margin-bottom:1%;
}


/* Profile picture style */
.flex_profielen > div:nth-child(2) >div > div:nth-child(1){
    height:8vw;
    float:left;
    width:9vw;
    border-top-left-radius:50%;
    border-bottom-left-radius:50%;
    background-color:lightblue
}

/* Style for found profile pictures */
.profilepicture{
    height:8vw;
    float:left;
    width:8vw;
    border-radius:50%;
}

/* field for profile name */
.flex_profielen > div:nth-child(2) >div > div:nth-child(2){
    font-size: 1.5vw;
    height:8vw;
    float:left;
    width:12vw;
    background-color:lightblue
}

/*Style for text in profile field */
.flex_profielen > div:nth-child(2) >div > div:nth-child(2) > div{
    width: 8vw;
    font-size: 1.5vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Field for all found pictures */
.flex_fotos{
    padding:15px;
}

/* Inner field for all found pictures */
.flex_fotos >div{
    display: grid;
    grid-template-columns: 31.33% 31.33% 31.33%;
    grid-gap: 3%;
    margin-top:1%;

}

/* Style for the entire picture frame */
.flex_fotos >div > div{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin-right:2%;
    margin-bottom:2%;
}


/* Style for picture title field */
.flex_fotos >div > div > div:nth-child(1){
    background-color:lightgray;
    height:3vw;
}

/* Style for picture title text */
.flex_fotos >div > div > div:nth-child(1) >div{
    font-size: 2vw;
    font-weight: bold;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

/* Style for picture */
.mainpicture{
    width:100%;
    height:17vw;
}


/* Style for amount of likes field */
.flex_fotos >div > div > div:nth-child(3){
    background-color:lightgray;
    height:2vw;
}

/* Style for amount of likes text */
.flex_fotos >div > div > div:nth-child(3) >div{
    font-size:1.5vw;
    font-weight:bold;
    float:right;
    margin-right:0.5vw;
}