/*File upload field*/
.fileUpload {
    overflow: hidden;
}

/*Shows the preview of the foto*/
.thumbnail, img-preview {
    width: 265px;
    height: 265px;
}

/*The button where the user can input picture*/
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*General layout for upload form, centered*/
.upload-form {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

/*Layout for where user writes the caption*/
.captions {
    height: 100px;
    text-align: justify;
    resize: top;
}

/*Make sure the picture overlays the preview button*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 296px;
  width: 296px;
  opacity: 0.38;
  transition: .5s ease;
  background-color: #e6e9ef;
  border-radius: 25px;
  border: 2px;
  padding: 10px;
}

/*Layout of the text*/
.text {
  color: black;
  font-size: 22px;
  text-decoration: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 3;
}

/*Style for hover over picture preview*/
.container-overlay:hover .overlay {
    opacity: 0.85;
}