{% extends "layout.html" %}



{% block title %}
    Home
{% endblock %}

{% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ url_for('static', filename='foto.css') }}" type="text/css" media="screen"/>

<div class="container_right">

  <div class="right_flex">
    <div class="like-veld">
        <a href="/like/{{ fotoid }}">
          <img src="static/like_knop.png" alt="like button" style="object-fit:cover" class="likebutton">
        </a>
    </div>
  </div>

</div>

<div class="container_left">

  <div class="left_flex">
    <div class="dislike-veld">
        <a href="/dislike/{{ fotoid }}">
          <img src="static/dislike_knop.png" alt="dislike button" style="object-fit:cover" class="dislikebutton">
        </a>
    </div>
  </div>

</div>



<div class="container">

  <div class="flex-container" >
    <div class="location_pf">
      <a href="/profile/{{ accountnaam }}">
        <img src="{{ profielfoto }}" alt="profilepicture" style="object-fit:cover;" class="profilepicture">
      </a>
    </div>
    <div>

      <p>{{ titel }}</p>
    </div>
    <div>
      <div style="align-self: center">{{ date }}</div>
      <div style="align-self: center">
        <button type="submit" class="volgknop btn">-Follow-</button>
      </div>
    </div>
  </div>


  <div class="main-image">
    <img src="{{ foto }}" alt="Photo" style="object-fit:cover;">
  </div>


   <div class="flex-container2">
    <div>
      {{ caption }}
    </div>
    <div>
      <div>
        <div>
          -705-
        </div>
      </div>
      <div>
        likes
      </div>
    </div>
  </div>



  <div class="comments">
    {% for comment in comments %}
    <div class="flex-comment">
      <div>
        <a href="/profile/{{ comment.commentaccount }}">
          <img src="{{ comment.profielfotocomment }}" alt="profilepicture" style="object-fit:cover;" class="comment_pf">
        </a>
      </div>

      <div>
        <div>
            {{ comment.profielnaamcomment }}
        </div>
        <div>
           {{ comment.berichtcomment }}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>



  <div class="flex-commentfield">
    <div class="commentfield">
      <form action="/comment/{{fotoid}}" method="post">
        <textarea name="uploadcomment" placeholder="Leave a comment"></textarea>
        <br>
        <input type="submit" class="btn">
      </form>
    </div>
  </div>

{% endblock %}