{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- Overkoepelende div voor homepage -->
<div class="homepage">
    <!-- Complete fotoweergave, exclusief comments -->
    <div class="dislike-veld">
        <a href="/dislike">Dislike</a>
    </div>
    <div class="like-veld">
        <a href="/like">Like</a>
    </div>
    <div class="fotoweergave">
        <!-- De topbar van de fotoweergave, hierin staat de profielfoto en naam van de uploader, samen met de titel en timestamp -->
        <div class="fotoweergave-top">
            <!-- Profielfoto van de uploader -->
            <div class="profielfoto-tinder"><img style="height: 100px; width: 100px" src="{{ profielfoto }}"/></div>
            <!-- Naam van de uploader -->
            <div class="naam-tinder"><a href="/profile?account={{ accountnaam }}">{{ naam }}</a></div>
            <!-- Titel van de post -->
            <div class="titel-tinder">{{ titel }}</div>
            <!-- Datum/timestamp van de post -->
            <div class="date-tinder">{{ date }}</div>
        </div>
        <!-- Het middelste deel van de fotoweergave, hier staat alleen de foto -->
        <div class="fotoweergave-mid">
            <!-- De foto waar het om draait -->
            <div class="foto-tinder"><img style="height: 100px; width: 100px" src="{{ foto }}"/></div>
        </div>
        <!-- Het onderste deel van de fotoweergave, hierin staat de caption -->
        <div class="fotoweergave-bot">
            <!-- De caption die bij de post hoort -->
            <div class="caption-tinder">{{ caption }}</div>
        </div>
    </div>
    <!-- Onderstaand staat los van de fotoweergave en weergeeft de comments van de post -->
    <div class="fotoweergave-comments">
        <!-- Loop door geplaatste comments -->
        {% for comment in comments %}
            <!-- De profielfoto van de plaatser van de comment -->
            <div class="profielfoto-comment"><img style="height: 100px; width: 100px" src="{{ comment.profielfotocomment }}"/></div>
            <!-- De profielnaam van de plaatser van de comment -->
            <div class="profielnaam-comment"><a href="/profile?account={{ comment.commentaccount }}">{{ comment.profielnaamcomment }}</a></div>
            <!-- De daadwerkelijk comment -->
            <div class="bericht-comment">{{ comment.berichtcomment }}</div>
            {% endfor %}
    </div>
</div>
{% endblock %}