<!DOCTYPE html>

<html lang="en">
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" media="screen"/>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Instapet</title>
  </head>
  <body>
    <div class="instapet-titel">
      <p>Instapet</p>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/static/preview_foto/preview_1.png" alt="First Slide">
                </div>
                <div class="item">
                  <img src="/static/preview_foto/preview_2.png" alt="Second Slide">
                </div>
                <div class="item">
                  <img src="/static/preview_foto/preview_3.png" alt="Third Slide">
                </div>
              </div>
              <!-- Carousel controls -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
    </div>
</div>

        </div>
        <div class="col-md-8 col-lg-6">
            <div class="col-sm-4">
            <div class="container-fluid justify-content-center">
                  <h3 class="register-heading">Sign up now!</h3>
                  <!--This is where the error message will show up in case username taken, invalid email or password-->
                  {% with errors = get_flashed_messages(category_filter=["sign-up"]) %}
                    {% if errors %}
                      <div class="alert-message block-message error">
                        <ul>
                          {%- for msg in errors %}
                          <li>{{ msg }}</li>
                          {% endfor -%}
                        </ul>
                      </div>
                    {% endif %}
                  {% endwith %}
                  <form class="form-horizontal" action="{{ url_for('register') }}" method="post" autocomplete=off>
                    <div class="form-label-group">
                      <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-label-group">
                      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                    </div>
                    <div class="form-label-group">
                      <input type="password" name="password"id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-label-group">
                      <input type="password" name="confirmation" id="inputPassword" class="form-control" placeholder="Repeat password" required>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Sign up</button>
                    <br>
                  </form>

                  <!--This is where the error message will show up wrong username or password during login-->
                 {% with errors = get_flashed_messages(category_filter=["login"]) %}
                    {% if errors %}
                    <div class="alert-message block-message error">
                      <ul>
                        {%- for msg in errors %}
                        <li>{{ msg }}</li>
                        {% endfor -%}
                      </ul>
                    </div>
                    {% endif %}
                  {% endwith %}

                  <h6 class="login-heading">Already have an account? Log in!</h6>
                  <form class="form-horizontal" action="{{ url_for('login') }}" method="post" autocomplete=off>
                    <div class="form-label-group">
                      <input type="username" name="username"id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    </div>
                    <div class="form-label-group">
                      <input type="password" name="password"id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Log in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="navbar" id="footer">
      <a href="{{ url_for('privacy') }}">Privacy policy</a>
      <a href="{{ url_for('tos') }}">Terms of service</a>
      <a href="{{ url_for('support') }}">Support</a>
</nav>

</body>