<!DOCTYPE html>

<html lang="en">
<head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" type="text/css" media="screen"//>

        <script>
            function fotoladen(evt, soortfoto) {
                // Declare all variables
                var i, tabcontent, tablinks;
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(soortfoto).style.display = "block";
                evt.currentTarget.className += " active";
            }
            function volgknop() {
                var x = document.getElementById("knop");
                if (x.innerHTML === "Ontvolg") {
                    x.innerHTML = "Volg";
                }
                else {
                    x.innerHTML = "Ontvolg";
                }
            }
        </script>


        <title>Instapet | {% block title %}{% endblock %}</title>

    </head>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        alert(1);
    });
</script>

<!-- Use any element to open the sidenav -->
<!--<button onclick="openNav()" class="openbtn btn" >open</button>-->

<div class="topnav">
    <div>

        <button onclick="openNav()" style="font-size:24px"> <i class="fa fa-align-justify"></i></button>

        <div class="search-container">
            <form action="/search" method="post">
                 <input type="text" placeholder="Search.." name="search">
              <button type="submit">🔍</button>
            </form>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('pack') }}">Pack</a></li>
    <li><a href="{{ url_for('upload') }}">Upload</a></li>
    <li><a href="{{ url_for('manage') }}">Manage</a></li>
    <li><a href="/profile/sirik">Sirik</a></li>

    <br>
    <a href="{{ url_for('logout') }}" class="logoutknop">Log out</a>
</div>



<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<main id="main">
    {% block main %}{% endblock %}
</main>