<!DOCTYPE html>

<html lang="en">
<head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>

        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" type="text/css" media="screen"//>

        <script>
            function fotoladen(evt, soortfoto) {
                // Declare all variables
                var i, tabcontent, tablinks;
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(soortfoto).style.display = "flex";
                evt.currentTarget.className += " active";
            }
            function volgknop() {
                var x = document.getElementById("knop");
                if (x.innerHTML === "Ontvolg") {
                    x.innerHTML = "Volg";
                }
                else {
                    x.innerHTML = "Ontvolg";
                }
            }
        </script>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type=text/javascript>
                $(function() {
                    // button staat hier voor de button tag en het #knop staat voor het id van de button -->
                  $('button#knop').bind('click', function() {
                    $.getJSON('/follow/{{ userid }}',
                        function(data) {
                      //do nothing
                    });
                    return false;
                  });
                });
        </script>


        <title>Instapet | {% block title %}{% endblock %}</title>

    </head>

<script>

// open de navbar automatisch, zorgt dat je niet de eerste keer 2x moet klikken om hem dicht te doen
function openpage()
{
    document.getElementById("mySidenav").style.width = "0";
}

//  functie op de navbar open en dicht te doen
function openNav() {
    // kijk hoe breed de navbar is
    var e = document.getElementById("mySidenav");
    // als de navbar 250px is, sluit hem dan
    if (e.style.width == '250px')
    {
        document.getElementById("mySidenav").style.width = "0";
    }
    // anders, open de navbar
    else
    {
        document.getElementById("mySidenav").style.width = "250px";
    }
}

</script>
<body onload="openpage()">
<!-- Use any element to open the sidenav -->
<!--<button onclick="openNav()" class="openbtn btn" >open</button>-->

<div class="topnav fixed-top">
    <div>
        <button class="btn btn-primary fa fa-align-justify" onclick="openNav()"></button>
        <a class="instapet-titel" href="{{ url_for('home') }}">Instapet</a>

        <div class="search-container">
            <form action="/search" method="post"autocomplete=off>
                 <input type="text" placeholder="Search.." name="search">
              <button type="submit">🔍</button>
            </form>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <li><a class="fas fa-home" href="{{ url_for('home') }}">&nbsp;Home</a></li>
    <li><a class="fas fa-dragon" href="{{ url_for('pack') }}">&nbsp;Pack</a></li>
    <li><a class="fas fa-cloud-upload-alt" href="{{ url_for('upload') }}">&nbsp;Upload</a></li>
    <li><a class="fas fa-wrench" href="{{ url_for('manage') }}">&nbsp;Manage</a></li>
    <li><a class="fas fa-user" href="{{ url_for('profile') }}">&nbsp;Profile</a></li>
    <br>
    <li><a class="fa fa-sign-out-alt" href="{{ url_for('logout') }}" class="logoutknop">&nbsp;Log&nbsp;out</a></li>
</div>
<!-- Menu bar for mobile view -->
<div class="sidenav-mobile">
    <li><a class="fas fa-home" href="{{ url_for('home') }}"></a></li>
    <li><a class="fas fa-dragon" href="{{ url_for('pack') }}"></a></li>
    <li><a class="fas fa-cloud-upload-alt" href="{{ url_for('upload') }}"></a></li>
    <li><a class="fas fa-wrench" href="{{ url_for('manage') }}"></a></li>
    <li><a class="fas fa-user" href="{{ url_for('profile') }}"></a></li>
</div>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<main id="main">
    {% block main %}{% endblock %}
</main>

</body>