<!DOCTYPE html>

<html lang="en">
  <head>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}" type="text/css" media="screen"/>
      <title>Instapet | {% block title %}{% endblock %}</title>
  </head>

<script>
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "200px";
  document.getElementById("main").style.marginLeft = "200px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "95px";
}

</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('pack') }}">Pack</a></li>
    <li><a href="{{ url_for('upload') }}">Upload</a></li>
    <li><a href="{{ url_for('manage') }}">Manage</a></li>
    <li><a href="/profile?account=sirik">Sirik</a></li>

    <br>
    <a href="{{ url_for('logout') }}" class="logoutknop">Log out</a>
</div>


<!-- Use any element to open the sidenav -->
<!--<button onclick="openNav()" class="openbtn btn" >open</button>-->

<div class="topnav">
  <button onclick="openNav()" class="openbtn btn" >open</button>

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">🔍</button>
    </form>
  </div>
</div>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<main id="main">
    {% block main %}{% endblock %}
</main>
