{% extends "layout.html" %}

{% block title %}
    Manage
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}" type="text/css" media="screen"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    $(document).ready(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('.img-preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#logo-id").change(function() {
        readURL(this);
    });
});
</script>

<form action="{{ url_for('manage') }}" method="post" enctype="multipart/form-data">
    <!-- fieldset is the class that does the layout of the entire form-->
    <fieldset class="fieldset">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <!-- form-group is the class that does the layout of the fields -->
                    <div class="form-group">
                        <!-- Upload or change the profilepicture -->
                        <div class="main-img-preview">
                            <img class="thumbnail img-preview" src="static/preview_foto/upload-image.png">
                        </div>
                        <div class="container-overlay">
                        <div class="overlay">
                            <div class="text">Click to choose a profile picture</div>
                        </div>
                            <label class="btn btn-default btn-file">
                                <input id="logo-id" class="form-control" name="uploadfile" placeholder="Upload profile photo" type="file" accept="image/*"/>
                            </label>
                        </div>

                        <!--Place for the apology about the picture-->
                        {% with errors = get_flashed_messages(category_filter=["picture"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <ul>
                                {%- for msg in get_flashed_messages() %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <!-- Change or enter the profilename -->
                        <input class="form-control" name="profielnaam" placeholder="Name example" value= {{name}} autocomplete=off type="text"/>
                    </div>

                    <!--Place for the apology about the profilename or bio-->
                        {% with errors = get_flashed_messages(category_filter=["bio"]) %}
                        {% if errors %}
                        <div class="alert-message block-message error">
                            <ul>
                                {%- for msg in get_flashed_messages() %}
                                <li>{{ msg }}</li>
                                {% endfor -%}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}

                    <div class="form-group">
                        <!-- Change description -->
                        <textarea rows="6" autocomplete=off class="form-control" name="profielbio" value= {{bio}} placeholder="Bio example" autocomplete=off type="text"/></textarea>
                    </div>
                    <div class="form-group">
                        <!-- Submit button -->
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}