{% extends "layout.html" %}



{% block title %}
    Photo
{% endblock %}

{% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='foto.css') }}" type="text/css" media="screen"/>

<div class="container">

  <div class="flex-container" >
    <div class="location_pf">
      <a href="/profile/{{ accountnaam }}">
        <img src="{{ profielfoto }}" alt="profilepicture" style="object-fit:cover;" class="profilepicture">
      </a>
    </div>
    <div>

      <p>{{ titel }}</p>
    </div>
    <div>
      <div style="align-self: center">{{ date }}</div>
      <div style="align-self: center">
        <!--<button type="submit" class="volgknop btn">Follow</button>-->
        {% if welvolg %}
          <form>
            <button onclick="volgknop();" id="knop" class="volgknop btn">Ontvolg</button>
          </form>
        {% else %}
          <form>
            <button onclick="volgknop();" id="knop" class="volgknop btn">Volg</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="main-image">
    <img src="{{ foto }}" alt="photo" style="object-fit:cover;">
  </div>


   <div class="flex-container2">
    <div>
      {{ caption }}
    </div>
    <div>
      <div>
        <div>
          {{ likes }}
        </div>
      </div>
      <div>
        likes
      </div>
    </div>
  </div>



  {% if aantalcomments == 'False' %}
  <div class="comments" style="height: 0px">
  {% elif aantalcomments == 'True' %}
  <div class="comments" style="height: 110px">
  {% elif aantalcomments == 'langer' %}
  <div class="comments" style="height: 220px">
  {% elif aantalcomments == 'nog_langer' %}
  <div class="comments" style="height: 250px">
  {% endif %}
    {% for comment in comments %}
    <div class="flex-comment">
      <div>
        <a href="/profile/{{ comment.commentaccount }}">
          <img src="{{ comment.profielfotocomment }}" alt="profilepicture" style="object-fit:contain;" class="comment_pf">
        </a>
      </div>

      <div>
        <div>
            {{ comment.profielnaamcomment }}
        </div>
        <div>
           {{ comment.berichtcomment }}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>



  <div class="flex-commentfield">
    <div class="commentfield">
      <form action="/comment/{{fotoid}}/photo" method="post" autocomplete=off>
        <textarea name="uploadcomment" placeholder="Leave a comment" autocomplete=off></textarea>
        <br>
        <input type="submit" class="btn">
      </form>
    </div>
  </div>

{% endblock %}