{% extends "layout.html" %}



{% block title %}
    Photo
{% endblock %}

{% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='foto.css') }}" type="text/css" media="screen"/>

<div class="container">

<!--This is the place for the profilepicture-->
  <div class="flex-container" >
    <div class="location_pf">
      <a href="/profile/{{ accountnaam }}">
        <img src="{{ profielfoto }}" alt="profilepicture" style="object-fit:cover;" class="profilepicture">
      </a>
      <a href="/profile/{{ accountnaam }}" class="profilename">
        <div>{{ naam }}</div>
      </a>
    </div>

<!--title with help of python   -->
    <div>
      <p>{{ titel }}</p>
    </div>
    <!--the date the picture was posted-->
    <div>
      <div style="align-self: center">{{ date }}</div>
      <div style="align-self: center">
        <!--The follow button changes-->
        {% if eigenacc%}
          <form>
          </form>
        {% elif welvolg %}
          <form>
            <button onclick="volgknop();" id="knop" class="volgknop btn">Abandon</button>
          </form>
        {% else %}
          <form>
            <button onclick="volgknop();" id="knop" class="volgknop btn">Adopt</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

<!--this is where the main image will be located-->
  <div class="main-image">
    <img src="{{ foto }}" alt="photo" style="object-fit:contain;">
  </div>

<!--The caption and the amount of likes will show here-->
   <div class="flex-container2">
    <div>
      {{ caption }}
    </div>
    <div>
      <div>
        <div>
          {{ likes }}
        </div>
      </div>
      <div>
        likes
      </div>
    </div>
  </div>


<!--the size of the comment box depends on the amount of comments-->
  {% if aantalcomments == 'False' %}
  <div class="comments" style="height: 0px">
  {% elif aantalcomments == 'True' %}
  <div class="comments" style="height: 110px">
  {% elif aantalcomments == 'langer' %}
  <div class="comments" style="height: 220px">
  {% elif aantalcomments == 'nog_langer' %}
  <div class="comments" style="height: 250px">
  {% endif %}
    {% for comment in comments %}
    <div class="flex-comment">
      <div>
        <a href="/profile/{{ comment.commentaccount }}">
          <img src="{{ comment.profielfotocomment }}" alt="profilepicture" style="object-fit:cover;" class="comment_pf">
        </a>
      </div>

      <div>
        <div>
            {{ comment.profielnaamcomment }}
        </div>
        <div>
           {{ comment.berichtcomment }}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>


<!--The user can enter their comment here-->
  <div class="flex-commentfield">
    <div class="commentfield">
      <form action="/comment/{{fotoid}}/photo" method="post" autocomplete=off>
        <textarea name="uploadcomment" placeholder="Leave a comment" autocomplete=off></textarea>
        <br>
        <button class="volgknop btn" type="submit">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}