{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<!-- Onderstaand zorgt ervoor dat de volg/ontvolg knop werkt -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
            // button staat hier voor de button tag en het #knop staat voor het id van de button -->
          $('button#knop').bind('click', function() {
            $.getJSON('/followtest',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

</div>
<!-- Buitenste div van profielinformatie inclusief profielfoto -->
<div class="profielpagina">
    <!-- Verdeling van div profielpagina in linker en recter kolom -->
    <div class="kolomlinks">
        <!-- div met class voor profielfoto (In linker kolom) -->
        <div class="profielfoto"><img src="{{ profielfoto }}"/></div>
    </div>
    <!-- Buitentste div voor alle informatie(in rechter kolom) -->
    <div class="info">
        <!-- Veld met profielnaam -->
        <div class="naam-info">
        <p>
            <strong>Name:</strong>
            <span style="text-align: center">{{ profielnaam }}</span>
        </p>
        </div>
        <!-- Veld met volgers en volg knop -->
        <div class="volgers-info">
        <p>
            <strong>Followers</strong>
            <span style="text-align: center">{{ aantalvolgers }}</span>
            <!-- volg knoppen (eentje voor volg en anders eentje voor ontvolg) -->
            {% if welvolg %}
            <form>
            <button onclick="volgknop();" id="knop">Ontvolg</button>
            </form>
            {% else %}
            <form>
            <button onclick="volgknop();" id="knop">Volg</button>
            </form>
            {% endif %}
        </p>
        </div>
        <!-- Veld met bio van profiel -->
        <div class="bio-info">
        <p>
            <strong>Bio</strong>
            <span>{{ bio }}</span>
        </p>
    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
<div class="tab">
  <button class="tablinks active" onclick="fotoladen(event, 'personal')">Personal pictures</button>
  <button class="tablinks" onclick="fotoladen(event, 'liked')">Liked pictures</button>
</div>
<div id="personal" class="tabcontent" style="display:block">
  <h3>Personal pictures</h3>
  <span>{{ persoonlijkefotos }}</span>
</div>
<div id="liked" class="tabcontent">
  <h3>Liked pictures</h3>
  <span>{{ likedfotos }}</span>
</div>

{% endblock %}