{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}


<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" type="text/css" media="screen"/>


<!-- Onderstaand zorgt ervoor dat de volg/ontvolg knop werkt -->

<div class="container">
    <div class="bovenste_flex">
        <!--plek voor de foto-->
        <div>
            <img src="{{ profielfoto }}"alt="profilepicture" style="object-fit:cover;" class="profilepicture">
        </div>

        <!--plek voor de profielnaam en omschrijving-->
        <div>
            <!--plek voor de profielnaam-->
            <div>
                {{ profielnaam }}
            </div>
            <!--plek voor de omschrijving-->
            <div>
               {{ bio }}
            </div>
        </div>

        <!--plek voor de volgknop en het aantal volgers-->
        <div>
            <!--plek voor de volgknop-->
            <div>
                            <!-- volg knoppen (eentje voor volg en anders eentje voor ontvolg) -->
                {% if eigenacc %}
                <form>
                    <a href="/manage" class="btn btn-default">Manage</a>
                </form>
                {% elif welvolg %}
                <form>
                    <button onclick="volgknop();" id="knop" class="btn">Ontvolg</button>
                </form>
                {% else %}
                <form>
                    <button onclick="volgknop();" id="knop" class="btn">Volg</button>
                </form>
                {% endif %}
            </div>
            <!--plek voor het aantal volgers-->
            <div>
                <div>
                {{ aantalvolgers }}<br>
                FOLLOWERS
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both"></div>
    <!--<div style="clear:both"></div>-->
    <div class="middelste_flex">
        <!--knop voor jouw fotos-->
        <div>
            <button class="tablinks active" onclick="fotoladen(event, 'personal')">personal pictures</button>

        </div>
        <!--knop voor gelikede fotos-->
        <div>
            <button class="tablinks active" onclick="fotoladen(event, 'liked')">liked pictures</button>

        </div>
        <!--volgt:-->
        <div>
            <button class="tablinks active" onclick="fotoladen(event, 'pack')">follows (pack)</button>

        </div>
        <!--gevolgt door:-->
        <div>
            <button class="tablinks active" onclick="fotoladen(event, 'following')">following</button>

        </div>
    </div>

    <div class="onderste_flex">

        <div id="personal" class="fotos tabcontent" style="display: flex">
            {% for foto in p_fotos%}
            <!--hokje voor een foto met titel, etc-->
            <div>
                <!--bovenkant hokje met titel-->
                <div>
                    <div>
                    {{ foto.titel }}
                    </div>
                </div>
                <!--middenstuk hokje met plaatje-->
                <div>
                    <a href="/photo/{{ foto.foto_id }}">
                        <img src="{{foto.path}}" alt="picture" style="object-fit:cover;" class="mainpicture">
                    </a>
                </div>
                <!--onderkant hokje met likes-->
                <div>
                    <div>
                    {{ foto.likes}} 💚
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div id="liked" class="fotos tabcontent" style="display: none">
            {% for foto in l_fotos %}
            <!--hokje voor een foto met titel, etc-->
            <div>
                <!--bovenkant hokje met titel-->
                <div>
                    <div>
                    {{ foto.titel }}
                    </div>
                </div>
                <!--middenstuk hokje met plaatje-->
                <div>
                    <a href="/photo/{{ foto.foto_id }}">
                        <img src="{{foto.path}}" alt="picture" style="object-fit:cover;" class="mainpicture">
                    </a>
                </div>
                <!--onderkant hokje met likes-->
                <div>
                    <div>
                    {{ foto.likes}} 💚
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--vak waarin alle hokjes met profielen komen-->
        <div id="pack" class="profielen tabcontent" style="display: none">

            {% for profiel in p_profiel %}
            <div>
                <!--foto van een profiel-->
                <div>
                    <a href="{{profiel.account}}">
                        <img src="{{profiel.profielfoto}}"  alt="profilepicture2" style="object-fit:cover;" class="profilepicture2">
                    </a>
                </div>
                <!--naam van een profiel-->
                <div>
                    <div>
                        <a href="{{profiel.account}}">{{ profiel.profielnaam }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--vak waarin alle hokjes met profielen komen-->
        <div id="following" class="profielen tabcontent" style="display: none">
            {% for profiel in f_profiel %}
            <!--hokje voor een profiel-->
            <div>
                <!--foto van een profiel-->
                <div>
                    <a href="{{profiel.account}}">
                        <img src="{{profiel.profielfoto}}" alt="profilepicture2" style="object-fit:cover;" class="profilepicture2">
                    </a>
                </div>
                <!--naam van een profiel-->
                <div>
                    <div>
                        <a href="{{profiel.account}}">{{ profiel.profielnaam }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
