{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}


<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" type="text/css" media="screen"/>


<div class="container">
    <div class="bovenste_flex">
        <!--place for the picture!-->
        <div>
            <img src="{{ profielfoto }}"alt="profilepicture" style="object-fit:cover;" class="profilepicture">
        </div>

        <!--place for profilename and discription-->
        <div>
            <!--profilename-->
            <div>
                {{ profielnaam }}
            </div>
            <!--description-->
            <div>
               {{ bio }}
            </div>
        </div>

        <!--place for followbutton and amount of followers-->
        <div>
            <!--followbutton-->
            <div>
                <!-- followbutton (one for abandon and one for adopt) -->
                {% if eigenacc %}
                <form>
                    <a href="/manage" class="btn btn-default">Manage</a>
                </form>
                {% elif welvolg %}
                <form>
                    <button onclick="volgknop();" id="knop" class="btn">Abandon</button>
                </form>
                {% else %}
                <form>
                    <button onclick="volgknop();" id="knop" class="btn">Adopt</button>
                </form>
                {% endif %}
            </div>
            <!--place for amount of followers-->
            <div>
                <div>
                    ADOPTED BY: <br>
                    {{ aantalvolgers }}
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both"></div>
    <div class="middelste_flex">
        <!--button for your own pictures-->
        <div>
            <button class="tablinks active" onclick="fotoladen(event, 'personal')">Personal</button>

        </div>
        <!--button for liked pictures-->
        <div>
            <button class="tablinks" onclick="fotoladen(event, 'liked')">Liked</button>

        </div>
        <!--packmembers-->
        <div>
            <button class="tablinks" onclick="fotoladen(event, 'pack')">Pack</button>

        </div>
        <!--adopted by-->
        <div>
            <button class="tablinks" id="adoptedbutton" onclick="fotoladen(event, 'following')">Adopted by</button>

        </div>
    </div>

    <div class="onderste_flex">

        <div id="personal" class="fotos tabcontent">
            {% for foto in p_fotos%}
            <!--box for foto and title-->
            <div>
                <!--title-->
                <div>
                    <div>
                    {{ foto.titel }}
                    </div>
                </div>
                <!--picture-->
                <div>
                    <a href="/photo/{{ foto.foto_id }}">
                        <img src="{{foto.path}}" alt="picture" style="object-fit:cover;" class="mainpicture">
                    </a>
                </div>
                <!--amount of likes!-->
                <div>
                    <div>
                    {{ foto.likes}} 💚
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div id="liked" class="fotos tabcontent" style="display: none">
            {% for foto in l_fotos %}
            <!--box for foto and title-->
            <div>
                <!--titel-->
                <div>
                    <div>
                    {{ foto.titel }}
                    </div>
                </div>
                <!--picture-->
                <div>
                    <a href="/photo/{{ foto.foto_id }}">
                        <img src="{{foto.path}}" alt="picture" style="object-fit:cover;" class="mainpicture">
                    </a>
                </div>
                <!--likes-->
                <div>
                    <div>
                    {{ foto.likes}} 💚
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--box with all links to profiles-->
        <div id="pack" class="profielen tabcontent" style="display: none">

            {% for profiel in p_profiel %}
            <div>
                <!--profilepicture-->
                <div>
                    <a href="{{profiel.account}}">
                        <img src="{{profiel.profielfoto}}"  alt="profilepicture2" style="object-fit:cover;" class="profilepicture2">
                    </a>
                </div>
                <!--profilename-->
                <div>
                    <div>
                        <a href="{{profiel.account}}">{{ profiel.profielnaam }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--box with all profiles-->
        <div id="following" class="profielen tabcontent" style="display: none">
            {% for profiel in f_profiel %}
            <!--box of profile-->
            <div>
                <!--profilepicture-->
                <div>
                    <a href="{{profiel.account}}">
                        <img src="{{profiel.profielfoto}}" alt="profilepicture2" style="object-fit:cover;" class="profilepicture2">
                    </a>
                </div>
                <!--profilename-->
                <div>
                    <div>
                        <a href="{{profiel.account}}">{{ profiel.profielnaam }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
