{% extends "layout.html" %}



{% block title %}
    Search
{% endblock %}

{% block main %}


<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" type="text/css" media="screen"/>

<div class="container">
    <br>
    <!-- This is where the search query is shown -->
    <div class="flex_zoek">
        <div class = "zoekterm">
            Search term: {{ zoekopdracht }}
        </div>
        <div class = "aantal_resultaten">
            {{ aantalres }} results
        </div>
    </div>

    <div class="flex_profielen">
        <!-- This is where all the found profiles go -->
        <div>
            {% for profiel in profiel_search %}
            <!-- Space for profile -->
            <div>
                <!-- Picture of a profile -->
                <div>
                    <a href="/profile/{{ profiel.account }}">
                        <img src="{{ profiel.profielfoto }}"alt="profilepicture" style="object-fit:cover;" class="profilepicture">
                    </a>
                </div>
                <!-- Name of a profile -->
                <div>
                    <div>
                        <a href="/profile/{{ profiel.account }}">{{ profiel.profielnaam }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <div class="flex_fotos">
        <div>
            {% for foto in foto_search %}
            <!-- Div for a picture with title, etc. -->
            <div>
                <!-- Top of preview with title -->
                <div>
                    <div>
                    {{ foto.titel }}
                    </div>
                </div>
                <!-- Middle of preview with picture -->
                <div>
                    <a href="/photo/{{ foto.foto_id }}">
                        <img src="{{ foto.path }}" alt="picture" style="object-fit:cover;" class="mainpicture">
                    </a>
                </div>
                <!--Bottom of preview with likes-->
                <div>
                    <div>
                    {{ foto.likes}} 💚
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    </div>
{% endblock %}