{% extends "layout.html" %}



{% block title %}
    Search
{% endblock %}

{% block main %}


<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" type="text/css" media="screen"/>

<div class="container">
    <br>
    <!--hier wordt aangegeven waarop is gezocht-->
    <div class="flex_zoek">
        <div class = "zoekterm">
            Search term: {{ zoekopdracht }}
        </div>
        <div class = "aantal_resultaten">
            {{ aantalres }} results
        </div>
    </div>

    <div class="flex_profielen">
        <div>
            Users:
        </div>
        <!--vak waarin alle hokjes met profielen komen-->
        <div>
            {% for profiel in profiel_search %}
            <!--hokje voor een profiel-->
            <div>
                <!--foto van een profiel-->
                <div>
                    <a href="/profile/{{ profiel.account }}">
                        <img src="{{ profiel.profielfoto }}"alt="profilepicture" style="object-fit:cover;" class="profilepicture">
                    </a>
                </div>
                <!--naam van een profiel-->
                <div>
                    <div>
                        {{ profiel.profielnaam }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <div class="flex_fotos">
        <div>
            {% for foto in foto_search %}
            <!--hokje voor een foto met titel, etc-->
            <div>
                <!--bovenkant hokje met titel-->
                <div>
                    <div>
                    {{ foto.titel }}
                    </div>
                </div>
                <!--middenstuk hokje met plaatje-->
                <div>
                    <a href="/photo/{{ foto.foto_id }}">
                        <img src="{{ foto.path }}" alt="picture" style="object-fit:cover;" class="mainpicture">
                    </a>
                </div>
                <!--onderkant hokje met likes-->
                <div>
                    <div>
                    {{ foto.likes}} 💚
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    </div>
{% endblock %}