<!DOCTYPE html>

<html lang="en">
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" media="screen"/>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Instapet</title>
  </head>
  <body>
    <!--Title 'Instapet' is also the link to index-->
    <div class="instapet-titel">
      <p><a href="{{ url_for('index') }}">Instapet</a></p>
    </div>

    <!--Terms of service text-->
    <div>
      <h2> Terms of Service</h2>
        Please read these terms of service ("terms", "terms of service") carefully before using Instapet website (the "service") operated by UvA students ("us", 'we", "our").

      <h3>Conditions of Use</h3>
        We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.

      <h3>Privacy Policy</h3>
        Before you continue using our website we advise you to read our <a href="{{ url_for('privacy') }}">Privacy policy</a> regarding our user data collection. It will help you better understand our practices.

      <h3>Copyright</h3>
        Content published on this website (digital downloads, images, texts, graphics, logos) is the property of Instapet and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of Instapet, with copyright authorship for this compilation by Instapet.

      <h3>Communications</h3>
        The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.

      <h3>Applicable Law</h3>
        By visiting this website, you agree that the laws of the Netherlands, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between Instapet and you, or its business partners and associates.

      <h3>Disputes</h3>
        Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court in the Netherlands and you consent to exclusive jurisdiction and venue of such courts.

      <h3>Comments, Reviews, and Emails</h3>
        Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.
        We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant Instapet non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.

      <h3>License and Site Access</h3>
        We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.

      <h3>User Account</h3>
        If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.
        We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
    </div>

  <!--Footer navbar-->
  <nav class="navbar navbar-default navbar-fixed-bottom justify-content-center">
      <ul class="nav navbar-nav justify-content-center">
        <li><a href="{{ url_for('privacy') }}">Privacy policy</a></li>
        <li><a href="{{ url_for('tos') }}">Terms of service</a></li>
        <li><a href="{{ url_for('support') }}">Support</a></li>
      </ul>
  </nav>
  </body>