{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"> <!-- Even uitzoeken naar welke functie deze moet leiden, misschien moeten het achter de schermen wel 2 formulieren worden. -->
    <!-- fieldset is een class die de opmaak van het algehele formulier doet -->
    <fieldset class="fieldset">
        <!-- form-group is een class die de opmaak van de velden doet -->
        <div class="form-group">
            <!-- Bestand kunnen uploaden -->
            <input class="form-control" name="uploadfile" placeholder="Upload photo" type="file"/>
        </div>
        <div class="form-group">
            <!-- Titel kunnen toevoegen -->
            <input class="form-control" name="titel" placeholder="Title" type="text"/>
        </div>
        <div class="form-group">
            <!-- Caption kunnen toevoegen -->
            <input class="form-control" name="caption" placeholder="Caption" type="text"/>
        </div>
        <div class="form-group">
            <!-- Tags kunnen toevoegen -->
            <input class="form-control" name="tags" placeholder="Tags" type="text"/>
        </div>
        <div class="form-group">
            <!-- Submit knop -->
            <button class="btn btn-default" type="submit">Post</button>
        </div>
    </fieldset>
</form>
{% endblock %}