{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}" type="text/css" media="screen"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    $(document).ready(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('.img-preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#logo-id").change(function() {
        readURL(this);
    });
});
</script>

<script>
var apikey = 'CKjyWZfmOSGZIuHTwxgR5YB91CBmT7pj';
$(document).ready(function() {
  /*
  * The following two functions are used for making the API call using
  * pure Javascript. I wouldn't worry about the details
  */
  function encodeQueryData(data)
  {
     var ret = [];
     for (var d in data)
        ret.push(encodeURIComponent(d) + "=" + encodeURIComponent(data[d]));
     return ret.join("&");
  }
  function httpGetAsync(theUrl, callback)
  {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
              callback(xmlHttp.responseText);
      };
      xmlHttp.open("GET", theUrl, true); // true for asynchronous
      xmlHttp.send(null);
  }
  /*
  * The following functions are what do the work for retrieving and displaying gifs
  * that we search for.
  */
  function getGif(query) {
    console.log(query);
    query = query.replace(' ', '+');
    var params = { 'api_key': apikey, 'q': query};
    params = encodeQueryData(params);
    // api from https://github.com/Giphy/GiphyAPI#search-endpoint
    httpGetAsync('https://api.giphy.com/v1/gifs/search?' + params, function(data) {
      var gifs = JSON.parse(data);
      var firstgif = gifs.data[0].images.fixed_width.url;
      $("#image").html("<img src='" + firstgif + "'>");
      console.log(gifs.data);
    });
  }
  function uploadGif(query) {
    console.log(query);
    query = query.replace(' ', '+');
    var params = { 'api_key': apikey, 'q': query};
    params = encodeQueryData(params);
    httpGetAsync('https://api.giphy.com/v1/gifs/search?' + params, function(data) {
      var gifs = JSON.parse(data);
      console.log(gifs.data[0].images.original.url);
      document.getElementById('gif').setAttribute('value', gifs.data[0].images.original.url);
    });
  }
  $("#submitButton").on("click", function() {
    var query = $("#inputQuery").val();
    getGif(query);
    uploadGif(query);
  });
})
</script>

<form class="upload-form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"> <!-- Even uitzoeken naar welke functie deze moet leiden, misschien moeten het achter de schermen wel 2 formulieren worden. -->
    <!-- fieldset is een class die de opmaak van het algehele formulier doet -->
    <fieldset class="fieldset">
        <!-- form-group is een class die de opmaak van de velden doet -->
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-lg-6">
        		    <div class="form-group">
                      <div class="main-img-preview">
                        <img class="thumbnail img-preview" src="static/preview_foto/upload-image.png">
                      </div>
                      <div class="input-group">
                        <div class="input-group-btn">
                            <input id="logo-id" name="uploadfile" type="file" accept="image/*"/>
                          </div>
                        </div>
                      </div>
                    </div>

        <div class="col-lg-6">
        <div id="query">
            <input type="text" id="inputQuery"><input type="button" id="submitButton" value="Zoek naar GIF">
        </div>
        <div id="image">
        </div>
        <div class="form-group">
            <input id="gif" name="gifje" type="hidden" value=""/>
        </div>
            <div class="form-group">
            <!-- Titel kunnen toevoegen -->
            <input class="form-control" name="titel" placeholder="Title" type="text"/>
        </div>
        <div class="form-group">
            <!-- Caption kunnen toevoegen -->
            <input class="form-control caption" name="caption" placeholder="Caption" type="text"/>
        </div>
        <div class="form-group">
            <!-- Tags kunnen toevoegen -->
            <input class="form-control" name="tags" placeholder="Tags" type="text"/>
        </div>
        <div class="form-group">
            <!-- Submit knop -->
            <button class="btn-primary btn-lg btn-block login-button" type="submit">Post</button>
        </div>
    </div>
    </div>
    </div>
    </fieldset>
</form>
{% endblock %}






<!DOCTYPE html>

<html lang="en">
<head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>

        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" type="text/css" media="screen"//>

        <script>
            function fotoladen(evt, soortfoto) {
                // Declare all variables
                var i, tabcontent, tablinks;
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(soortfoto).style.display = "flex";
                evt.currentTarget.className += " active";
            }
            function volgknop() {
                var x = document.getElementById("knop");
                if (x.innerHTML === "Ontvolg") {
                    x.innerHTML = "Volg";
                }
                else {
                    x.innerHTML = "Ontvolg";
                }
            }
        </script>


        <title>Instapet | {% block title %}{% endblock %}</title>

    </head>

<script>
function openpage()
{
    document.getElementById("main").style.marginLeft= "250px";
    document.getElementById("mySidenav").style.width = "250px";
}

function openNav() {
    var e = document.getElementById("mySidenav");
    if (e.style.width == '250px')
    {
        e.style.width = '10px';
        document.getElementById("main").style.marginLeft= "10px";
    }
    else
    {
        e.style.width = '250px';
        document.getElementById("main").style.marginLeft= "250px";
    }
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "10px";
    document.getElementById("main").style.marginLeft= "10px";
}

</script>
<body onload="openpage()">
<!-- Use any element to open the sidenav -->
<!--<button onclick="openNav()" class="openbtn btn" >open</button>-->

<div class="topnav fixed-top">
    <div>
        <button class="btn btn-primary fa fa-align-justify" onclick="openNav()"></button>
        <a class="instapet-titel" href="{{ url_for('home') }}">Instapet</a>

        <div class="search-container">
            <form action="/search" method="post">
                 <input type="text" placeholder="Search.." name="search">
              <button type="submit">🔍</button>
            </form>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav fixed-top">
    <li><a class="fas fa-home" href="{{ url_for('home') }}">&nbsp;Home</a></li>
    <li><a class="fas fa-dragon" href="{{ url_for('pack') }}">&nbsp;Pack</a></li>
    <li><a class="fas fa-cloud-upload-alt" href="{{ url_for('upload') }}">&nbsp;Upload</a></li>
    <li><a class="fas fa-wrench" href="{{ url_for('manage') }}">&nbsp;Manage</a></li>
    <li><a class="fas fa-user" href="{{ url_for('profile') }}">&nbsp;Profile</a></li>
    <br>
    <li><a class="fa fa-sign-out-alt" href="{{ url_for('logout') }}" class="logoutknop">&nbsp;Log&nbsp;out</a></li>
</div>



<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<main id="main">
    {% block main %}{% endblock %}
</main>






<!DOCTYPE html>

<html lang="en">
<head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>

        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" type="text/css" media="screen"//>

        <script>
            function fotoladen(evt, soortfoto) {
                // Declare all variables
                var i, tabcontent, tablinks;
                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(soortfoto).style.display = "flex";
                evt.currentTarget.className += " active";
            }
            function volgknop() {
                var x = document.getElementById("knop");
                if (x.innerHTML === "Ontvolg") {
                    x.innerHTML = "Volg";
                }
                else {
                    x.innerHTML = "Ontvolg";
                }
            }
        </script>


        <title>Instapet | {% block title %}{% endblock %}</title>

    </head>

<script>
function openpage()
{
    document.getElementById("main").style.marginLeft= "250px";
    document.getElementById("mySidenav").style.width = "250px";
}

function openNav() {
    var e = document.getElementById("mySidenav");
    if (e.style.width == '250px')
    {
        e.style.width = '10px';
        document.getElementById("main").style.marginLeft= "10px";
    }
    else
    {
        e.style.width = '250px';
        document.getElementById("main").style.marginLeft= "250px";
    }
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "10px";
    document.getElementById("main").style.marginLeft= "10px";
}

</script>
<body onload="openpage()">
<!-- Use any element to open the sidenav -->
<!--<button onclick="openNav()" class="openbtn btn" >open</button>-->

<div class="topnav fixed-top">
    <div>
        <button class="btn btn-primary fa fa-align-justify" onclick="openNav()"></button>
        <a class="instapet-titel" href="{{ url_for('home') }}">Instapet</a>

        <div class="search-container">
            <form action="/search" method="post">
                 <input type="text" placeholder="Search.." name="search">
              <button type="submit">🔍</button>
            </form>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav fixed-top">
    <li><a class="fas fa-home" href="{{ url_for('home') }}">&nbsp;Home</a></li>
    <li><a class="fas fa-dragon" href="{{ url_for('pack') }}">&nbsp;Pack</a></li>
    <li><a class="fas fa-cloud-upload-alt" href="{{ url_for('upload') }}">&nbsp;Upload</a></li>
    <li><a class="fas fa-wrench" href="{{ url_for('manage') }}">&nbsp;Manage</a></li>
    <li><a class="fas fa-user" href="{{ url_for('profile') }}">&nbsp;Profile</a></li>
    <br>
    <li><a class="fa fa-sign-out-alt" href="{{ url_for('logout') }}" class="logoutknop">&nbsp;Log&nbsp;out</a></li>
</div>



<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<main id="main">
    {% block main %}{% endblock %}
</main>

</body>

</body>