{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    $(document).ready(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('.img-preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#logo-id").change(function() {
        readURL(this);
    });
});
</script>

<script>
var apikey = 'CKjyWZfmOSGZIuHTwxgR5YB91CBmT7pj';

$(document).ready(function() {

  /*
  * The following two functions are used for making the API call using
  * pure Javascript. I wouldn't worry about the details
  */

  function encodeQueryData(data)
  {
     var ret = [];
     for (var d in data)
        ret.push(encodeURIComponent(d) + "=" + encodeURIComponent(data[d]));
     return ret.join("&");
  }

  function httpGetAsync(theUrl, callback)
  {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
              callback(xmlHttp.responseText);
      };
      xmlHttp.open("GET", theUrl, true); // true for asynchronous
      xmlHttp.send(null);
  }

  /*
  * The following functions are what do the work for retrieving and displaying gifs
  * that we search for.
  */

  function getGif(query) {
    console.log(query);
    query = query.replace(' ', '+');
    var params = { 'api_key': apikey, 'q': query};
    params = encodeQueryData(params);

    // api from https://github.com/Giphy/GiphyAPI#search-endpoint

    httpGetAsync('https://api.giphy.com/v1/gifs/search?' + params, function(data) {
      var gifs = JSON.parse(data);
      var firstgif = gifs.data[0].images.fixed_width.url;
      $("#image").html("<img src='" + firstgif + "'>");
      console.log(gifs.data);
    });
  }
  function uploadGif(query) {
    console.log(query);
    query = query.replace(' ', '+');
    var params = { 'api_key': apikey, 'q': query};
    params = encodeQueryData(params);

    httpGetAsync('https://api.giphy.com/v1/gifs/search?' + params, function(data) {
      var gifs = JSON.parse(data);
      console.log(gifs.data[0].images.downsized.url);
    });
  }

  $("#submitButton").on("click", function() {
    var query = $("#inputQuery").val();
    getGif(query);
    uploadGif(query);
  });
})
</script>

<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"> <!-- Even uitzoeken naar welke functie deze moet leiden, misschien moeten het achter de schermen wel 2 formulieren worden. -->
    <!-- fieldset is een class die de opmaak van het algehele formulier doet -->
    <fieldset class="fieldset">
        <!-- form-group is een class die de opmaak van de velden doet -->
        <div class="container">
        	<div class="row">
        		<div class="col-md-4 col-md-offset-4">
        		    <div class="form-group">
                      <div class="main-img-preview">
                        <img class="thumbnail img-preview" src="static/preview_foto/upload-image.png" width="400px">
                      </div>
                      <div class="input-group">
                        <div class="input-group-btn">
                            <input id="logo-id" name="uploadfile" type="file" accept="image/*"/>
                          </div>
                        </div>
                      </div>
                    </div>
        		</div>
        	</div>
    <div class="container">
        </div>
            <div id="query">
        <input type="text" id="inputQuery"><input type="button" id="submitButton" value="submit">
    </div>
            <div id="image">
            </div>
            <div class="form-group">
                <input name="gifje" type="file"/>
        </div>
            <div class="form-group">
            <!-- Titel kunnen toevoegen -->
            <input class="form-control" name="titel" placeholder="Title" type="text"/>
        </div>
        <div class="form-group">
            <!-- Caption kunnen toevoegen -->
            <input class="form-control" name="caption" placeholder="Caption" type="text"/>
        </div>
        <div class="form-group">
            <!-- Tags kunnen toevoegen -->
            <input class="form-control" name="tags" placeholder="Tags" type="text"/>
        </div>
        <div class="form-group">
            <!-- Submit knop -->
            <button class="btn btn-default" type="submit">Post</button>
        </div>
    </div>
    </fieldset>
</form>
{% endblock %}